<div class="col-xs-12 hidden-xl-up menu-toggler">
  <button class="icon-menu navbar-toggler" type="button">
    <span class="fa fa-bars fa-inverse"></span>
  </button>
</div>

<nav class="large-navbar navbar navbar-minimalist navbar-fixed-top bg-inverse">
  <ul class="nav navbar-nav navbar-minimalist nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="/#masthead">UCSC</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#about-us">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#club-location">Location</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#club-membership">Membership</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#club-contact-us">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/coaching-panel">Coaching Panel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/committee">Committee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/news">NSL News</a>
    </li>
  </ul>
</nav>
