<div class="menu hidden-xl-up">
  <div>
    <button class="icon-close pull-right navbar-light navbar-toggler" type="button">
      <span class="fa fa-times fa-inverse"></span>
    </button>
  </div>
  <ul class="nav nav-pills nav-stacked menu--links">
    <li class="nav-item">
      <a class="nav-link" href="/#masthead">UCSC</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#about-us">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#club-location">Location</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#club-membership">Membership</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#club-contact-us">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/coaching-panel">Coaching Panel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/committee">Committee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/news">NSL News</a>
    </li>
  </ul>
</div>
