<div class="menu hidden-xl-up">
  <div>
    <button class="icon-close pull-right navbar-light navbar-toggler" type="button">
      <span class="fa fa-times fa-inverse"></span>
    </button>
  </div>
  <ul class="nav nav-pills nav-stacked menu--links">
    <li class="nav-item">
      <a class="nav-link" href="/#masthead" onclick="closeMenu()">UCSC</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#about-us" onclick="closeMenu()">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#club-location" onclick="closeMenu()">Location</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#club-membership" onclick="closeMenu()">Membership</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#club-contact-us" onclick="closeMenu()">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/coaching-panel" onclick="closeMenu()">Coaching Panel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/committee" onclick="closeMenu()">Committee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/news" onclick="closeMenu()">NSL News</a>
    </li>
    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </li>
  </ul>
</div>
