<div class="club-info--club-committee club-info--section">
  <div class="club-info--section-icons">
    <i class="huge child icon"></i>
  </div>

  <div class="club-committee--text">
    <h2 class="header club-info--section-header">Our Committee Members</h2>
  </div>

  <div class="club-committee--pictures">
    <% @committee_members.each do |name| %>
      <div class="club-committee--picture-circle">
        <%= name %>
      </div>
    <% end %>
  </div>
</div>
