<div class="col-xs-12 col-lg-offset-1 col-lg-10 col-xl-offset-2 col-xl-8">
  <h2 class="header club-info--section-header">
    Join us!
  </h2>

  <div class="col-xs-12 col-md-4">
    <h4 class="header club-info--section-sub-header">
      Annual Membership
    </h4>
    <p>
      All court fees and registration fees are included in the annual membership fee of: 
      $125 for Students and $250 for Adults
    </p>
  </div>

  <div class="col-xs-12 col-md-4">
    <h4 class="header club-info--section-sub-header">Guest Pass</h4>
    <p>
      Non-members are welcomed to join us on any of the social squash days at a fee of $15. 
      Do drop us an email to let us know beforehand so that we can make the necessary arrangements.
    </p>
  </div>

  <div class="col-xs-12 col-md-4">
    <h4 class="header club-info--section-sub-header">Trials</h4>
    <p>
      If you have prior squash experience and are interested in joining us, 
      feel free to contact us and we will arrange a session for you!
    </p>
  </div>
</div>
