<div class="club-info--club-contacts club-info--section">
  <h2 class="header club-info--section-header">Contact Us</h2>
  <p>
    <a href="mailto:admin@ucsc.org.sg">Drop us an email</a><br>
    We look forward to hearing from you!
  </p>
  <div class="club-info--social">
    <a href="https://www.facebook.com/UCSCsingapore">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook-f fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
</div>
