<div class="club-info--club-contacts club-info--section">
  <h2 class="header club-info--section-header">Contact Us</h2>
  <p>
    <a href="mailto:admin@ucsc.org.sg">Drop us an email</a><br>
    We look forward to hearing from you!
  </p>
</div>
