<div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
  <h2 class="header club-info--section-header">
    About Us
  </h2>
  <p class="club-about-us--text">
  The United Condo Squash Club (UCSC) was founded in 1997 and has been one of Singapore's most active and successful squash clubs. The Club is funded through membership fees and plays at public courts. Competitive playing members participate in the Singapore National Squash League annually. UCSC has won the "Club of the Year" title on several occasions and boasts of having contributed to providing Singapore with a significant number of top national players who have achieved notable regional success. </p>

  <p class="club-about-us--text">
    There are plenty of opportunities for competitive squash at all levels whilst the Club strives to create an environment where members are able to also socialize.
  </p>

  <p class="club-about-us--text">
    If you have competitive playing experience and are interested to become a UCSC member, please do reach out to the UCSC Management Committee. Contact details may be found <a href="/#club-contact-us">here</a>. Please be prepared for a warm friendly greeting!
  </p>

  <p class="club-about-us--text">
    UCSC Lives & Breathes Squash!
  </p>
</div>
