<div class="club-info--club-about-us club-info--section">
  <div class="ui one column padded centered grid">
    <div class="row column">
      <h2>About Us</h2>
    </div>
  </div>

  <div class="ui padded equal width centered grid">
    <div class="ten wide column centered row">
      <p class="club-about-us--text">
      UCSC is one of the top squash clubs in Singapore that competes in the Singapore National Squash League. There is plenty of opportunity for competitive squash at all levels as well as social squash that is enjoyed by all our members. We welcome members and guests of all ages with prior experience in squash. So feel free to contact us if you're interested. You can certainly expect a warm friendly greeting!
      </p>
    </div>
  </div>
</div>
