<div class="club-info--club-contacts club-info--section">
  <div class="ui one column centered padded grid">
    <div class="aligned column">
      <h2>Contact Us</h2>
    </div>

    <div class="aligned column">
      <p>Email us to set up a trial session. </p>
      <p>We look forward to hearing from you!</p>
    </div>
  </div>
</div>
