<div class="col-xs-offset-2 col-xs-8 club-info--club-about-us club-info--section">
    <h2 class="header club-info--section-header">About Us</h2>

    <p class="club-about-us--text">
      UCSC is one of the top squash clubs in Singapore that competes in the Singapore National Squash League. There is plenty of opportunity for competitive squash at all levels as well as social squash that is enjoyed by all our members. We welcome members and guests of all ages with prior experience in squash. So feel free to contact us if you're interested. You can certainly expect a warm friendly greeting!
    </p>
</div>
