<div class="col-xs-offset-2 col-xs-4">
  <h2 class="header club-info--section-header club-location--section-header">
    Home Courts
  </h2>
  <p>
    Members are invited to come down on any of the social squash days. 
    Those who are looking to play competitively are also encouraged to represent the club in the Singapore National Squash League. 
  </p>
</div>

<div class="col-xs-6 club-location--overlay">
  <div class="row club-location--text">
    <div class="col-lg-12">
      <%= icon 'map-marker', class: 'fa-2x' %>
      <p> Yio Chu Kang Squash & Tennis Centre </p>

      <p>
        Thursdays:  7pm to 10pm</br>
        Saturdays: 11am to  3pm
      </p>
    </div>

    <div class="col-lg-12">
      <%= icon 'map-marker', class: 'fa-2x' %>
      <p> SLF Squash Courts </p>

      <p> Mondays:  7pm to 10pm </p>
    </div>
  </div>
</div>
