<div class="club-info--club-location club-info--section">
  <div class="column club-info--section-icons">
    <i class="huge marker icon"></i>
  </div>

  <div class="column club-location--text">
    <p> Yio Chu Kang Squash and Tennis Centre </p>
  </div>

  <div class="club-info--section-icons">
    <i class="huge wait icon"></i>
  </div>

  <div class="club-location--text">
    <p>
      Thursdays:  7pm to 10pm<br>
      Saturdays: 11am to  3pm
    </p>
  </div>

  <div class="club-info--section-icons">
    <i class="huge marker icon"></i>
  </div>

  <div class="club-location--text">
    <p> SLF Squash Courts</p>
  </div>

  <div class="club-info--section-icons">
    <i class="huge wait icon"></i>
  </div>

  <div class="column club-location--text">
    <p>
      Mondays:  7pm to 10pm
    </p>
  </div>
</div>
