<div class="col-md-offset-2 col-lg-offset-3 col-xs-12 col-md-8 col-lg-6">
  <h2 class="header club-info--section-header">
    Join us!
  </h2>

  <h4 class="header club-info--section-sub-header">
    Annual Membership
  </h4>
  <p>
    All court fees and registration fees are included in the annual membership fee of: <br>
    $125 for Students and $250 for Adults
  </p>

  <h4 class="header club-info--section-sub-header">Guest Pass</h4>
  <p>
    Non-members are welcomed to join us on any of the social squash days at a fee of $15. 
    Do drop us an email to let us know beforehand so that we can make the necessary arrangements.
  </p>

  <h4 class="header club-info--section-sub-header">Trials</h4>
  <p>If you have prior squash experience and are interested in joining us, feel free to contact us and we will arrange a session for you!</p>
</div>
