<div class="club-info--club-location club-info--section">
  <div class="row">
    <div class="col-xs-3 col-md-offset-3">
      <%= icon 'map-marker', class: 'fa-3x' %>
      <p> Yio Chu Kang Squash & Tennis Centre </p>

      <%= icon 'clock-o', class: 'fa-3x' %>
      <p>
        Thursdays:  7pm to 10pm</br>
        Saturdays: 11am to  3pm
      </p>
    </div>

    <div class="col-xs-3">
      <%= icon 'map-marker', class: 'fa-3x' %>
      <p> SLF Squash Courts </p>

      <%= icon 'clock-o', class: 'fa-3x' %>
      <p> Mondays:  7pm to 10pm </p>
    </div>
  </div>
</div>
