<div class="club-info--club-membership club-info--section">
  <div class="ui one column padded centered grid">
    <div class="aligned column">
      <h2>Join Us!</h2>
    </div>

    <div class="aligned column">
      <p>Annual Membership Fee</p>
      <p>Guest Pass</p>
      <p>Trials</p>
    </div>
  </div>
</div>
