<div class="club-info--club-location club-info--section">
  <div class="ui stackable padded grid">

    <div class="ui eight wide column">
      <div class="column">
        <div class="column club-info--section-icons">
          <i class="huge marker icon"></i>
        </div>
      </div>

      <div class="column">
        <div class="column club-location--text">
          <p> Yio Chu Kang Squash and Tennis Centre </p>
        </div>
      </div>

      <div class="row column club-info--section-icons">
        <i class="huge wait icon"></i>
      </div>

      <div class="column row">
        <div class="column club-location--text">
          <p>
            Thursdays:  7pm to 10pm<br>
            Saturdays: 11am to  3pm
          </p>
        </div>
      </div>
    </div>

    <div class="ui eight wide column">
      <div class="ui column">
        <div class="column club-info--section-icons">
          <i class="huge marker icon"></i>
        </div>
      </div>

      <div class="ui column">
        <div class="column club-location--text">
          <p> SLF Squash Courts</p>
        </div>
      </div>

      <div class="ui column club-info--section-icons">
        <i class="huge wait icon"></i>
      </div>

      <div class="ui column row">
        <div class="column club-location--text">
          <p>
            Mondays:  7pm to 10pm
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
