<div class="club-info--club-contacts club-info--section">
  <h2 class="header club-info--section-header">Contact Us</h2>
  <div class="club-info--social">
    <a href="https://www.facebook.com/UCSCsingapore">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook-f fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
  <iframe 
      src="https://docs.google.com/forms/d/e/1FAIpQLSdM5VeuV3j0PWlZoczVg3ZkTRKaTHtVyNSUzJwxo625P12HuQ/viewform?embedded=true" 
      width="650" 
      height="1340" 
      frameborder="0" 
      marginheight="0" 
      marginwidth="0">
    Loading...
  </iframe>
</div>
