<div class="container-fluid coaching-panel--container">
  <div class="col-xs-12">

    <div class="row">
      <h1 class="page-main-header">Coaching Panel</h1>
      <p class="page-introduction">
        Resident coaches of UCSC
      </p>
    </div>

    <div class="row coaching-panel--coaches">
      <div class="col-xs-12 col-md-6">
        <div class="card coaches--coach-details">
          <div class="card-block">
            <h4 class="card-title">Simon Yang</h4>
            <h6 class="card-subtitle text-muted">National Coach, Indonesia</h6>
          </div>
          <div class="card-block">
            <p class="card-text">UCSC member since 2005</p>
            <p class="card-text">Playing experience since 1984</p>
            <p class="card-text">Coaching experience since 1990</p>
            <a href="#" class="card-link">CV - Simon Yang</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="card coaches--coach-details">
          <div class="card-block">
            <h4 class="card-title">Francis Wong</h4>
            <h6 class="card-subtitle text-muted">Coach - NYP, NJC</h6>
          </div>
          <div class="card-block">
            <p class="card-text">UCSC member since 1997</p>
            <p class="card-text">Playing experience since 1989</p>
            <p class="card-text">Coaching experience since 1996</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="card coaches--coach-details">
          <div class="card-block">
            <h4 class="card-title">Lawrence Tan</h4>
            <h6 class="card-subtitle text-muted">Coach</h6>
          </div>
          <div class="card-block">
            <p class="card-text">UCSC member since 2006</p>
            <p class="card-text">Playing experience since 1986</p>
            <p class="card-text">Coaching experience since 1988</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="card coaches--coach-details">
          <div class="card-block">
            <h4 class="card-title">Philip Mockridge</h4>
            <h6 class="card-subtitle text-muted">Winner of Singapore Masters, 2014</h6>
          </div>
          <div class="card-block">
            <p class="card-text">For more information, kindly visit his coaching site below:</p>
            <a href="http://www.squashpassion.com" class="card-link">Squash Passion</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
