<div class="row">
  <div class="col-xs-12 club-info">
    <div class="row club-info--about-us club-info--section" id="about-us">
      <%= render 'club_about_us' %>
    </div>

    <div class="col-lg-12" id="club-location"></div>
    <div class="club-info--club-location club-info--section row">
      <%= render 'club_location' %>
    </div>

    <div class="col-lg-12" id="club-membership"></div>
    <div class="row club-info--club-membership club-info--section">
      <%= render 'club_membership' %>
    </div>

    <div class="col-lg-12" id="club-contact-us"></div>
    <div class="row club-info--contact-us club-info--section">
      <%= render 'club_contacts' %>
    </div>
  </div>
</div>
