<div class="col-xs-12 club-info half-height-block">
  <div class="row">
    <%= render 'club_about_us' %>
  </div>

  <%= render 'club_location' %>

  <div class="row">
    <%= render 'club_membership' %>
  </div>

  <%= render 'club_contacts' %>
</div>
