<div class="container posts--container">
  <div class="col-xs-12 col-md-offset-1 col-md-10 col-xl-offset-2 col-xl-8">

    <div class="row new-post-btn--container">
      <div class="col-xs-12">
        <% if user_signed_in? %>
          <%= link_to 'Show', @post %> |
        <% end %>
        <%= link_to 'Back', posts_path %>
      </div>
    </div>

    <%= render 'form' %>
    <br>
  </div>
</div>
