@import 'fonts';
@import 'home';
@import 'posts';
@import 'coaching_panel';
@import 'committee';
@import 'bootstrap_overrides';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'navbar_minimalist';
@import 'vertical_menu';
@import 'devise';

@media (max-width: 34em) { html { font-size: 14px; } }
@media (max-width: 48em) { html { font-size: 14px; } }
@media (max-width: 62em) { html { font-size: 14px; } }
@media (max-width: 75em) { html { font-size: 16px; } }
@media (min-width: 75em) { html { font-size: 16px; } }
