.coaching-panel--container {
  padding-top: 55px;
  min-height: 100vh;
  background: $offwhite;
  color: black;
}

.page-introduction{
  text-align: center;
  font-size: 1.2em;
}

.page-main-header {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Lato';
  font-size: 3.5em;
}

.coaches--coach-details {
  border: 1px solid $darkorange;
  height: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.3) !important;
  font-family: 'Titillium Web', 'Helvetica Neue', 'Arial';
}

.clear {
  clear: both;
}
