.committee-member--intro{
  font-size: 1.2em;
  font-weight: 300;
  font-family: 'Lato';
}

.committee--container {
  padding-top: 55px;
  min-height: 100vh;
  color: black;
}

.committee-member--image {
  border: 1px solid #e7e7e7;
  padding: 5px;
  margin-top: 15px;
}

.committee-member {
  margin-bottom: 35px;
}

.committee-member--name {
  font-weight: bold;
  color: #333;
  font-size: 1.5em;
  margin-bottom: 0;
}

.committee-member--position {
  font-family: 'Raleway';
}

.committee-members {
  margin-top: 40px;
}

@media (max-width: 33em) {
  .committee-member--image {
    margin-top: none;
  }

  .committee-member--small-image-holder {
    margin-bottom: 15px;
  }

  .committee-member--name {
    font-size: 1.4em;
    margin-top: 20%;
  }

  .committee-member--intro {
    font-size: 1em;
  }
}

@media (max-width: 70em) {
  font-size: 1em;
}

