$darknavy: rgb(0, 40, 70);
$offwhite: rgb(224, 220, 212);
$darkorange: #EA8500;

body {
  color: $darknavy;
  position: relative;
}

.header {
  font-family: 'Lato', 'Helvetica Neue', 'Arial';
  font-weight: 700;
}

#map {
  width: 500px;
  height: 400px;
}

.parallax {
  padding: 300px 0px;
  background-position: 0 0;
}

.masthead.parallax-1 {
  // background-image:
  //   linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  //   asset-url('willstropdarwish.jpg');
  // background-size: cover;
  // background-repeat: no-repeat;
  background-color: $darknavy;
  height: 95vh;
}

.navbar {
  background-color: $darknavy;
}

.masthead-hero {
  text-align: center;
  color: white;
}

h1.masthead-hero--ucsc {
  font-size: 5em;
  font-weight: bold;
  padding: 40px 0;
  margin-top: -50px;
}

h2.masthead-hero--slogan {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 4px;
  font-family: 'Raleway', 'Helvetica Neue', 'Arial';
  color: $offwhite;
}

.masthead .angle-down-container {
  font-size: 4em;
  margin-top: 15vh;
  width: 100%;

  a { color: rgba(203, 197, 194, 0.3); }
  a:hover { color: $offwhite; }
}

// Club Info Sections

.club-info--club-location {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    asset-url('yck.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: $darknavy;
  height: 70vh;
  border-top: 1px solid $darknavy;
  min-height: 580px;
}

.club-location--overlay {
  position: relative;
  top: 50%;
  margin-top: -20vh;
}

.club-location--card {
  background-color: rgba(255, 255, 255, 0.3) !important;

  h4.card-title {
    font-family: 'Raleway', 'Helvetica Neue', 'Arial';
    font-weight: 300;
    letter-spacing: 1px;
  }
}

.club-location--card-slf {
  padding: 25px 0 35px 0 !important;
}

.club-info--section-header {
  font-family: 'Titillium Web', 'Helvetica Neue', 'Arial';
  font-weight: 600;
  font-size: 2.3em;
  line-height: 2.3em;
}

.club-info--section-sub-header {
  font-weight: 500;
  line-height: 1.7em;
  margin-top: 30px;
  font-family: 'Raleway';
  letter-spacing: 2px;
  font-weight: 200;
}

.club-info--section {
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 20vh;

  p {
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial';
    font-weight: 400;
    line-height: 2em;
    font-size: 1.1em;
  }
}

.club-committee--picture-circle {
  border-radius: 100px;
  height: 150px;
  width: 150px;
  padding-top: 60px;
  margin: 5px;
  text-align: center;
  display: block;
  float: left;
  color: $offwhite;
  background: rgb(107, 137, 177);
}

.club-info--about-us {
  background-color: $offwhite;
  padding-top: 15vh;
  padding-bottom: 20vh;
}

.club-about-us--text {
  text-align: center;
  line-height: 29px;
}

.club-info--club-membership {
  background: $darknavy;
  color: $offwhite;

  .club-info--section-sub-header {
    color: $darkorange;
  }
}

.club-info--contact-us {
  background-color: $offwhite;
}
