$darknavy: rgb(0, 40, 70);
$offwhite: rgb(224, 220, 212);
$darkorange: #EA8500;
$darkbrown: rgba(119, 79, 23, 0.75);
$greensea: #16a085;
$pumpkin: #d35400;
$sunflower: #f1c40f;

body {
  color: $darknavy;
  position: relative;
}

.header {
  font-family: 'Lato', 'Helvetica Neue', 'Arial';
  font-weight: 700;
}

p {
  font-family: 'Lato';
}

// .parallax {
//   padding: 300px 0px;
//   background-position: 0 0;
// }

@media (max-width: 48em) {
  .club-info--club-location {
    padding-top: 0;
  }

  .club-location--overlay {
    margin-top: 0;
  }

  h1.masthead-hero--ucsc {
    font-size: 3em;
    font-weight: bold;
    padding: 40px 0;
    margin-top: -250px;
  }

  h2.masthead-hero--slogan {
    font-size: 0.8em;
  }

  .masthead.parallax-1 {
    background-color: $darknavy;
    height: 84vh;
    padding-top: 400px;
  }
}

.masthead.parallax-1 {
  // background-image:
  //   linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  //   asset-url('ucsc.jpg');
  // background-size: cover;
  // background-repeat: no-repeat;
  background-color: $darknavy;
  height: 76vh;
  padding-top: 300px;
}

.navbar {
  background-color: $darknavy;
}

.masthead-hero {
  text-align: center;
  color: white;
}

h1.masthead-hero--ucsc {
  font-size: 5em;
  font-weight: bold;
  padding: 0;
  padding-bottom: 20px;
  margin-top: -50px;
}

h2.masthead-hero--slogan {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 4px;
  font-family: 'Raleway', 'Helvetica Neue', 'Arial';
  color: $darkorange;
}

.masthead-links-container {
  color: rgba(203, 197, 194, 0.6);
  background-color: rgba(224,220,212,0.70);
  padding: 25px 0px 25px 0px;
}

.masthead-links--sponsors {
  p {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Lato';
    font-weight: 100;
    color: $darknavy;
  }
}

.sponsors--sponsored-by {
  margin-top: 40px;
}

.sponsors--gene-ethics {
  background-image: asset-url('gene-ethics.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 13px;
  height: 90px;
  background-position-x: 50%;
}

.sponsors--indusnri {
  background-image: asset-url('indusnri.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 120px;
  background-position-x: 50%;
}

.masthead-links--angle-down {
  font-size: 4em;
  text-align: center;
  background-color: $darknavy;

  a { color: rgba(203, 197, 194, 0.3); }
  a:hover { color: $offwhite; }
}


// Club Info Sections

.club-info--section-header {
  font-family: 'Quicksand', 'Helvetica Neue', 'Arial';
  font-weight: 600;
  font-size: 2.3em;
  line-height: 2.3em;
}

.club-info--section-sub-header {
  font-weight: 500;
  line-height: 1.7em;
  margin-top: 30px;
  font-family: 'Raleway';
  letter-spacing: 2px;
  font-weight: 200;
}

.club-info--section {
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 20vh;

  p {
    font-family: 'Lato', 'Helvetica Neue', 'Arial';
    font-weight: 300;
    line-height: 2em;
    font-size: 1.3em;
  }
}

.club-info--club-location {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    asset-url('yck.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: $darknavy;
  border-top: 1px solid $darknavy;
  min-height: 580px;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.club-location--overlay {
  margin-top: -30px;
}

.club-location--section-header {
  margin-top: 20px;
}

.club-location--card {
  background-color: rgba(255, 255, 255, 0.3) !important;

  h4.card-title {
    font-family: 'Raleway', 'Helvetica Neue', 'Arial';
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.club-location--card-slf {
  padding: 25px 0 35px 0 !important;
}

.club-committee--picture-circle {
  border-radius: 100px;
  height: 150px;
  width: 150px;
  padding-top: 60px;
  margin: 5px;
  text-align: center;
  display: block;
  float: left;
  color: $offwhite;
  background: rgb(107, 137, 177);
}

.club-info--about-us {
  background-color: $offwhite;
  padding-top: 15vh;
  padding-bottom: 20vh;
}

.club-about-us--text {
  text-align: center;
  line-height: 29px;
}

.club-info--club-membership {
  background: $darknavy;
  color: $offwhite;

  .club-info--section-sub-header {
    color: $darkorange;
  }
}

.club-info--contact-us {
  background-color: $offwhite;
  color: $darknavy;
}

.club-info--social {
  a {
    color: rgba(181, 175, 164, 0.60);
    opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  a:hover {
    color: $darknavy;
  }
}

@media (min-width: 48em) {}
