body {
  color: #333;
}

#map {
  width: 500px;
  height: 400px;
}

.parallax {
  padding: 300px 0px;
  background-position: 0 0;
}

.ui.segment.parallax-1 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    asset-url('willstropdarwish.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.masthead h1.ui.header {
  margin-top: 15vh;
  font-size: 5em;
  font-weight: bold;
  padding: 40px 0;
}

.masthead h2.ui.header {
  font-size: 2em;
  font-weight: 300;
}

.masthead .angle-down-container {
  font-size: 4em;
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: auto;
  line-height: 1em;
  color: white;
}

.half-height-block {
}

.three-quarter-height-block {
}

// Club Info Sections
.club-info--section {
  border-bottom: 1px solid #e7e7e7;
}

.club-location--text {
  text-align: center;
}

.club-committee--text {
  text-align: center;
}

.club-info--section-icons {
  text-align: center;
}

.club-comittee--pictures {
}

.club-committee--picture-circle {
  border-radius: 100px;
  height: 150px;
  width: 150px;
  padding-top: 60px;
  margin: 5px;
  text-align: center;
  display: block;
  float: left;
  color: white;
  background: rgb(107, 137, 177);
}

.club-info--club-about-us {
  padding-top: 10vh;
}

.club-about-us--text {
  text-align: center;
  font-size: 17px;
  line-height: 29px;
}
