.navbar-minimalist {
  background-color: $darknavy;
  border: none;
  border-radius: 0px;
}
.navbar-minimalist .navbar-brand {
  color: $offwhite;
}
.navbar-minimalist .navbar-brand:hover,
.navbar-minimalist .navbar-brand:focus {
  color: white;
  background-color: transparent;
  border-bottom: 1px solid $darkorange;
}
.navbar-minimalist .navbar-text {
  color: #ffffff;
}
.navbar-minimalist .navbar-nav > li > a {
  font-family: 'Raleway';
  letter-spacing: 1px;
  font-weight: 200;
  color: #ffffff;
  border-radius: 0px;
}
.navbar-minimalist .navbar-nav > li > a:hover,
.navbar-minimalist .navbar-nav > li > a:focus {
  color: white;
  background-color: transparent;
  border-bottom: 1px solid $darkorange;
}
.navbar-minimalist .navbar-nav > .active > a,
.navbar-minimalist .navbar-nav > .active > a:hover,
.navbar-minimalist .navbar-nav > .active > a:focus {
  color: white;
  background-color: transparent;
  border-bottom: 1px solid $offwhite;
}
.navbar-minimalist .navbar-nav > .disabled > a,
.navbar-minimalist .navbar-nav > .disabled > a:hover,
.navbar-minimalist .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-minimalist .navbar-toggle {
  border-color: #dddddd;
}
.navbar-minimalist .navbar-toggle:hover,
.navbar-minimalist .navbar-toggle:focus {
  background-color: #710394;
}
.navbar-minimalist .navbar-toggle .icon-bar {
  color: #9137B6;
  background-color: #ffffff;
}
.navbar-minimalist .navbar-collapse,
.navbar-minimalist .navbar-form {
  border-color: #8948a3;
}
.navbar-minimalist .navbar-nav > .dropdown > a:hover .caret,
.navbar-minimalist .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-minimalist .navbar-nav > .open > a,
.navbar-minimalist .navbar-nav > .open > a:hover,
.navbar-minimalist .navbar-nav > .open > a:focus {
  background-color: #8a49a5;
  color: #ffffff;
}
.navbar-minimalist .navbar-nav > .open > a .caret,
.navbar-minimalist .navbar-nav > .open > a:hover .caret,
.navbar-minimalist .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-minimalist .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-minimalist .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-minimalist .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-minimalist .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-minimalist .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-minimalist .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-minimalist .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #8a49a5;
  }
  .navbar-minimalist .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-minimalist .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-minimalist .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-minimalist .navbar-link {
  color: #ffffff;
}
.navbar-minimalist .navbar-link:hover {
  color: #ffffff;
}
.navbar-minimalist .nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover,
.navbar-minimalist .nav-pills .nav-item.open .nav-link,
.navbar-minimalist .nav-pills .nav-item.open .nav-link:focus,
.navbar-minimalist .nav-pills .nav-item.open .nav-link:hover {
  color: #fff;
  cursor: default;
  background: transparent;
  border-bottom: 1px solid $darkorange;
}
