.posts--container {
  padding-top: 55px;
  min-height: 100vh;
  color: #444;
}

.new-post-btn--container {
  margin-bottom: 15px;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 15px 0px;
}

.edit-post-btn--container {
  margin-bottom: 15px;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 15px 0px;
}

.posts--post-summary {
  font-family: 'Raleway';
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-top: 30px;
}

a.post-summary--post-link {
  color: #333;
}

a.post-summary--post-link:hover {
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.post-summary--post-title {
  font-family: 'Quicksand';
  line-height: 1.5em;
  font-weight: 700;
  letter-spacing: -1px;
}

.post-summary--post-time {
  font-size: 0.6em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.post-summary--post-synopsis {
  p {
    font-family: 'Lato';
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.8em;
    margin-bottom: 20px;
  }

  h1, h2, h3, h4, h5 {
    font-weight: lighter;
  }
}

.post--container {
  padding-top: 55px;
  min-height: 100vh;
  color: #444;
}

h1.post--title {
  font-weight: 700;
  font-size: 2.6em;
  padding-bottom: 11.5px;
  margin: 50px 0 25px;
  border-bottom: 1px solid #eeeeee;
}

.post--time {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  font-size: 0.5em;
}

.post--content {
  font-family: 'Lato', 'Helvetica Neue', 'Arial';
  padding: 0px 10px 0px 25px;

  p {
    color: $darknavy;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.8em;
    margin-bottom: 20px;
  }

//   h1, h2, h3, h4, h5 {
//     font-family: 'Quicksand';
//   }
}

@media (max-width: 34em) {
  .post--content {
    padding: 0px;

    p {
      font-size: 1.2em;
    }
  }

  h1.post--title {
    font-size: 2em;
  }
}

