@media (max-width: 75em) {
  .large-navbar {
    display:none;
  }

  .menu {
    background-color: $sunflower;
    left: -250px;  /* start off behind the scenes */
    height: 100%;
    position: fixed;
    width: 250px;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1.2em;
  }
  .menu a {
    color: $darknavy;
  }
}

.menu-links {
  background-color: $darknavy;
}

.menu-toggler {
  background-color: $darknavy;

  span {
    font-size: 1.5em;
    color: $offwhite;
  }
}

.menu--links {
  margin-top: 55px;
}

@media (max-width: 34em) { .menu-toggler { span { font-size: 2.5em } } }
@media (max-width: 48em) { .menu-toggler { span { font-size: 2.5em } } }
@media (max-width: 62em) { .menu-toggler { span { font-size: 2em } } }
@media (max-width: 75em) {}

