@media (max-width: 75em) {
  .large-navbar {
    display: none;
  }

  .menu {
    background-color: $sunflower;
    height: 100%;
    width: 250px;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1.2em;
    position: fixed;
    left: -250px;  /* start off behind the scenes */
    bottom: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .menu a {
    color: $darknavy;
  }
}

.menu-links {
  background-color: $darknavy;
}

.menu-toggler {
  background-color: $darknavy;
  position: fixed;
  top: 0px;
  z-index: 1000;

  span {
    font-size: 1.5em;
    color: $offwhite;
  }
}

.menu--links {
  margin-top: 55px;
}

// @media (max-width: 34em) { .menu-toggler { span { font-size: 3em } } }
// @media (max-width: 48em) { .menu-toggler { span { font-size: 3em } } }
// @media (max-width: 62em) { .menu-toggler { span { font-size: 3em } } }
// @media (max-width: 75em) {}

