<!DOCTYPE html>
<html>
<head>
  <title>UCSC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>

<body data-spy="scroll" data-target="home-top-navbar">

  <nav class="navbar navbar-minimalist navbar-fixed-top" id="home-top-navbar">
    <ul class="nav navbar-nav navbar-miniamlist nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link" href="#masthead">UCSC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about-us">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#club-location">Location</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#club-membership">Membership</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#club-contact-us">Contact Us</a>
      </li>
    </ul>
    <button class="pull-right navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
  </nav>

  <div class="container-fluid" id="fullpage">
    <div class="row masthead parallax parallax-1 section" id="masthead">
      <div class="masthead-hero">
        <h1 class="header masthead-hero--ucsc">United Condo Squash Club</h1>
        <h2 class="header masthead-hero--slogan">LIVE AND BREATHE SQUASH</h2>

        <div class="angle-down-container">
          <a href="#about-us" class="masthead--angle-down">
            <span class="fa fa-chevron-circle-down"></span>
          </a>
        </div>
      </div>
    </div>

    <%= yield %>
  </div>

</body>
</html>
