<!DOCTYPE html>
<html>
<head>
  <title>UCSC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body>

  <div class="container-fluid">
    <div class="row masthead parallax parallax-1">
      <div class="masthead-hero">
        <h1 class="header masthead-hero--ucsc">United Condo Squash Club</h1>
        <h2 class="header masthead-hero--slogan">LIVE AND BREATHE SQUASH</h2>

        <div class="angle-down-container">
          <a href="#about-us" class="masthead--angle-down">
            <span class="fa fa-angle-down fa"></span>
          </a>
        </div>
      </div>
    </div>

    <%= yield %>
  </div>

</body>
</html>
