<!DOCTYPE html>
<html>
<head>
  <title>UCSC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body>

  <div class="container-fluid">
    <div class="row masthead parallax parallax-1">
      <%# <div class="ui container"> %>
      <%#   <div class="ui large secondary inverted pointing menu"> %>
      <%#     <a class="active item">Home</a> %>
      <%#     <a class="item">UCSC News</a> %>
      <%#     <a class="item">Coaching Panel</a> %>

      <%#     <div class="ui right dropdown item"> %>
      <%#       <div class="menu"> %>
      <%#         <a class="item">Login</a> %>
      <%#       </div> %>
      <%#     </div> %>
      <%#   </div> %>
      <div class="masthead-hero">
        <h1 class="masthead-hero--ucsc">United Condo Squash Club</h1>
        <h2 class="masthead-hero--slogan">live and breathe squash</h2>

        <div class="angle-down-container">
          <a href="#who" class="masthead--angle-down"><span class="glyphicon glyphicon-chevron-down"></span></a>
        </div>
      </div>
    </div>

    <%= yield %>
  </div>

</body>
</html>
